<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
  <link rel="stylesheet" href="../css/main.css">
  <title>Lyft App</title>
</head>
<body>
  <section class="container-fluid noche">
    <div class="row  text-center">
      <div class="col">
         <img class="logo-white" src="../assets/images/logo-white.png" alt="logo">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img class="logo-pink" src="../assets/images/logo-pink.png" alt="logo">
      </div>
    </div>
    <div class="row buttons">
      <div class="offset-1 col-5">
        <button type="button" class="btn btn-info" onclick="">LOG IN</button>
      </div>
      <div class="col-5">
         <button type="button" class="btn btn-info" onclick="">SING UP</button>
      </div>
    </div>

  </section>
</body>
</html>
